<p>hello</p>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">請確認訂單</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <img src="{{this.Commodity.logoPath}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{Commodity.Commodity.name}}</h5>
        <p class="card-text">{{Commodity.Commodity.description}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
      <form action="/starbuck/{{this.id}}" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-primary">送出</button>
      </form>
    </div>
  </div>
</div>