{{>message}}
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form action="/signin" method="POST" style="margin-bottom: 22px;">
                            <h3 class="mb-5">請輸入名子</h3>
                            <div class="form-outline mb-4">
                                <input type="text" id="username" name="username" class="form-control form-control-lg"
                                    placeholder="お名前は" />
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">入</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>